<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Oxide needs camera access so you can capture photos to edit.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Oxide needs permission to save edited photos to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Oxide needs photo library access so you can import photos to edit.</string>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
</dict>
</plist>
